# Copy to gradle.properties and
# fill in the correct info below
GROUP=com.andrewreitz
VERSION=0.0.1

signing.keyId=xxxxxxx
signing.password=YourPublicKeyPassword
signing.secretKeyRingFile=~/.gnupg/secring.gpg

sonatypeUsername=YourUserNameHere
sonatypePassword=YourPasswordHere
