# Copy me to gradle.properties
bintrayUser=username
bintrayPassword=password

signingPassword=signingpassword

# Used for debugging
#org.gradle.daemon=true
#org.gradle.jvmargs=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5005